body{
  background-color: #93B5C6;
}

.title{
  text-align: center;
  font-family: "Georgia";
}

#search-bar{
  text-align: center;
  margin-bottom: 100px;
}

#search-header{
  font-family:"Georgia";
}

#poster{
  float: left;
  margin-right:25px;
  width: 150px;
  height:222px;
}
